.about-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.275);    
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .left-section,
  .right-section {
    width: 45%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
  }
  
  .right-section {
    text-align: right;
  }
  
  .about-page h1 {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .about-page h2 {
    font-size: 2.5em;
    margin-top: 30px;
  }
  
  .about-page p {
    line-height: 1.6;
    margin-top: 15px;
  }
  
  .about-page ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
  }
  
  .about-page ul li::before {
    content: '\2022';
    color: #ff7f50;
    font-size: 1.5em;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px;
  }
  
  .about-page a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    transition: border-color 0.3s;
  }
  
  .about-page a:hover {
    border-color: #ff7f50;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 780px;
  }
  
  .image-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-section img:hover {
    transform: scale(1.1);
  }

.about-content{
    margin-right: 8vw;
}

#joinnow{
  background-color: rgba(255, 255, 255, 0);
  width: 100px;
  color: blue;
  border: 1px solid blue;
  border-radius: 2rem;
}