@media (min-width:430px) {
    
    .main-div-10 {
        background-color: black;
        padding: 8vw;
        border: 1px solid white;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    .chat-nevigation{
        width: 26vw;
        /* height: 70vh; */
        box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);    
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .6rem;
        gap: 40px;
    }

    .chat-section{
        width: 55vw;
        height: 100vh;
        border-top: 1px solid white;
        box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: .6rem;
    }

    #chat-display{
        margin-top: 40px;
        height: 70vh;
        width: 48vw;
        border-radius: .6rem;
    }

    #chat-reciever{ 
        margin-top: 20px;
        width: 38vw;
        padding: 6px;
        border: 1px solid rgba(255, 255, 255, 0.296);
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    #chat-sender{ 
        margin-top: 20px;
        margin-left: 100px;
        width: 38vw;
        padding: 6px;
        border: 1px solid rgba(255, 255, 255, 0.296);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    #type-send{
        background-color: rgba(255, 255, 255, 0.4);
        padding: 8px;
        margin-bottom: 40px;
        width: 38vw;
        border-radius: .6rem;
        border: 1px solid white;
        display: flex;
        align-items: center;
    }

    #type-send input {
        height: 40px;
        width: 42vw;
    }

    #type-send button{
        margin-left: 8px;
        width: 60px;
        height: 44px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: .6rem;
        box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
    }

    #chat-card {
        padding-left: 30px;
        width: 15vw;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 2rem;
        border-top: 1px solid white;
        box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
    }

    #chat-card #chat-logo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .form-chat-room{
        background-color: rgb(124, 124, 124);
        position: absolute;
        top: 80vh;
        left: 40vw;
        height: 30vh;
        width: 30vw;
        z-index: 50;
        display: flex;
        flex-direction: column;
        padding: 40px;
        border-radius: 3rem;
        box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);    
    }

    .chat-buttons{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .chat-buttons button{
        border: 2px solid white;
        border-radius: .6rem;
        background-color: black;
        color: white;
        padding: 10px;
        margin-bottom: 15px;
    }

}

@media (max-width:430px) {
    
    .main-div-10 {
        padding: 10vw;
        background-color: black;
        border: 1px solid white;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5rem;
    }

    .chat-nevigation{
        width: 80vw;
        height: 70vh;
        box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);    
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .6rem;
        gap: 40px;
    }

    .chat-section{
        width: 80vw;
        height: 100vh;
        margin-bottom: 20vh;
        border-top: 1px solid white;
        box-shadow: 5px 5px 10px 0px rgb(255, 255, 255);   
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: .6rem;
    }

    #chat-display{
        margin-top: 40px;
        height: 70vh;
        width: 70vw;
        border-radius: .6rem;
    }

    #chat-reciever{ 
        margin-top: 20px;
        width: 56vw;
        padding: 6px;
        border: 1px solid rgba(255, 255, 255, 0.296);
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    #chat-sender{ 
        margin-top: 20px;
        margin-left: 10vw;
        width: 56vw;
        padding: 6px;
        border: 1px solid rgba(255, 255, 255, 0.296);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    #type-send{
        background-color: rgba(255, 255, 255, 0.4);
        padding: 8px;
        margin-bottom: 40px;
        width: 70vw;
        border-radius: .6rem;
        border: 1px solid white;
    }

    #type-send input {
        height: 40px;
        width: 50vw;
    }

    #type-send button{
        margin-left: 8px;
        width: 60px;
        height: 44px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: .6rem;
        box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
    }

    #chat-card {
        padding-left: 30px;
        width: 60vw;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 2rem;
        border-top: 1px solid white;
        box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
    }

    #chat-card #chat-logo{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

}