.mainbox1{
    height: 80vh;
    background-color: aliceblue;
}

#postrequest2{
    background-color: rgb(255, 0, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border: 1px solid rgb(255, 0, 153);
    border-radius: .6rem;
    color: white;
}