@media (min-width:430px) {
    


    .main-div-3{
        padding-left: 140px;
        padding-right: 140px;
        padding-bottom: 40px;
        height: 26vh;
        background-color: rgb(21, 20, 20);
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: cursive;
    }

    .main-div-3 Button{
        font-family: cursive;
        color: white;
    }

    .footer-copyright{    
        padding-left: 80px;
        padding-right: 80px;
        height: 26vh;
        background-color: rgb(21, 20, 20);
        color: white;
        font-family: cursive;
        border-top: 2px solid rgba(255, 251, 251, 0.553);
    }

    .footer-copyright a{
        text-decoration: none;
        color: yellow;
    }

    .main-div-42{
        padding-left: 80px;
        background-color: rgb(21, 20, 20);
        display: flex;
        justify-content: center;
        color: white;
        gap: 30px;
    }

}

@media (max-width:430px) {
    


    .main-div-3{
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        background-color: rgb(21, 20, 20);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: cursive;
        gap: 30px;
    }

    .main-div-3 Button{
        font-family: cursive;
        color: white;
    }

    .footer-copyright{    
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        background-color: rgb(21, 20, 20);
        color: white;
        font-family: cursive;
        border-top: 2px solid rgba(255, 251, 251, 0.553);
    }

    .footer-copyright a{
        text-decoration: none;
        color: yellow;
    }

    .main-div-42{
        padding-left: 80px;
        padding-right: 80px;
        color: white;
        background-color: rgb(21, 20, 20);
        display: flex;
        justify-content: center;
    }

}