.main-div-3{
    padding-left: 80px;
    padding-right: 80px;
    height: 40vh;
    background-color: rgb(21, 20, 20);
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: cursive;
}

.main-div-3 Button{
    font-family: cursive;
    color: white;
}

.footer-copyright{    
    padding-left: 80px;
    padding-right: 80px;
    height: 26vh;
    background-color: rgb(21, 20, 20);
    color: white;
    font-family: cursive;
    border-top: 2px solid rgba(255, 251, 251, 0.553);
}

.footer-copyright a{
    text-decoration: none;
    color: yellow;
}