.main-div-3{
    padding-left: 80px;
    padding-right: 80px;
    height: 40vh;
    background-color: rgb(21, 20, 20);
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: cursive;
}

.main-div-3 Button{
    font-family: cursive;
    color: white;
}