.main-div-5{
    height: 12vh;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: rgb(0, 122, 149);
    color: white;
}

.main-div-5 h1{
    font-family: cursive;
    font-weight: 400;
}

.main-div-5 div{
    width: 30vw;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#btn4{
    background-color: rgb(255,0,153);
    color: white;
    font-family: cursive;
    height: 8vh;
}

#btn5{
    color: white;
    border-color: white;
    font-family: cursive;
    height: 8vh;
}

form input{
    border: none !important;
    color: black;
    font-family: cursive;
    font-weight: 800 !important;
    color: black !important;
}

#btn6{
    margin: 4px;
    background-color: rgb(0, 122, 149);
    color: white;
    border-radius: .2rem;
}

.main-div-6{
    background-color: rgb(217, 217, 217);
}

#icon{
    margin-top: 20px;
    margin-left: 20px;
}

.main-div-6 form{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    width: 60%;
    position: absolute;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 20fr);
    grid-template-rows: auto;
    gap: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.content-4{
    display: flex;
}

.filter{
    padding: 30px;
    margin-top: 20vh;
    margin-left: 80px;
    width: 20vw;
    height: 40vh;
    background-color: white;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.showcase{
    padding: 30px;
    margin-top: 20vh;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 140px;
    width: 100%;
    background-color: white;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.showcase img{
    padding: 10px;
    width: 15vw;
    height: 15vh;
}

#info{
    display: grid;
    grid-template-columns: repeat(2,20fr);
}

.influencercard{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(217, 217, 217);
}