.main-div-1{
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}


#btn1 {
    background-color: rgb(255, 0, 153);
    color: #fff;
    font-family: cursive;
}