.navbar{
    padding-left: 50px;
    padding-right: 50px;
    height: 13vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

#nav-box-1{
    width: 50vw;
    display: flex;
    position: relative;
    top: 25%;
}

#nav-link-1{
    display: flex;
    font-weight: 600;
    gap: 20;
}

#nav-link-1 NavLink {
    color: white;
}

#nav-link-2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 25%;
}

#btnpost{
    height: 20x;
}