.influencercard{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 20px;
    border-radius: 2rem;
}

.influencercard img{
    padding: 10px;
    width: 15vw;
    height: 15vh;
    border-radius: 2rem;
}