.main-div-12{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: larger;
    font-style: italic;
    font-family: cursive;
}

.main-div-12 form{
    background-color: rgba(255, 255, 255, 0);
    margin: 80px;
    padding: 5vw;
    border: 2px solid black;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid rgb(255, 0, 153);
    border-right: 1px solid rgb(255, 0, 153);
}

.main-div-12 form input,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-div-12 form button{
    background-color: rgb(255,0,153);
    color: #fff;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: cursive;
    border-top: 1px solid white;
    box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
}


.main-div-12 form button[type="button"] {
    margin-left: 10px;
    background-color: rgb(255, 0, 153);
}

.main-div-12 form button:hover {
    border-top: 1px solid white;
    background-color: black;
    box-shadow: 5px 5px 10px 0px rgb(255, 0, 153);   
}

#languages-select{
    color: black;
}

input{
    color: black;
    font-style: normal;
    font-family: none;
    font-size: 18px;
}