.main-div-8{    
    background-image: url(https://images.unsplash.com/photo-1546640646-89b557854b23?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: 81rem 40rem;
}

.main-content-5 {
    display: flex;
    gap: 80px;
}

#profile-description{
    padding-top: 10vh;
    margin-top: 40vh;
    margin-left: 20vh;
    margin-bottom: 20vh;
    background-color: rgba(215, 242, 250, 0.389);
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .6rem;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
}

#profile-photo{
    background-color: bisque;
    height: 300px;
    width: 300px;
    border-radius: .6rem;
    box-shadow: 5px 5px 10px 1px rgb(62, 62, 62);
}

#profile-feature{
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    width: 20vw;
}


#review{
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
    background-color: rgba(234, 215, 250, 0.403);
    border-radius: .6rem;
    height: 20vh;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
}

#chat-box{
    /* background-color: white; */
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
    background-color: rgba(234, 215, 250, 0.403);
    margin-top: 5vh;
    margin-bottom: 15vh;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#chat-box #chats {
    background-color: rgba(0, 0, 0, 0.127);
    color: brown;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 10s;
    /* Initial styling */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box-shadow to create the outside effect */
}

#chat-box #chats :hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}