#main-div-7{
    height: 80vh I !important;
}

#terms{
    display: flex;
}

.signup-section{
    display: flex;
    justify-items: center;
    align-items: center;
}

.signup-section form{
    width: 30vw;
    padding: 30px;
    height: 60vh;
    background-color: rgba(255, 0, 153, 0.712);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid pink;
    border-radius: 1.2rem;
}
