
.main-app-class{
  background-color: rgb(255, 255, 255);
}

.compo-logic-1 #btn9{
  background-color: rgba(255, 255, 255, 0.556);
  font-size: medium;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 10px 10px 50px 1px rgb(0, 122, 149);
}


.compo-logic-1 #btn10{
  background-color: rgba(255, 255, 255, 0.556);
  font-size: medium;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  box-shadow: 10px 10px 50px 1px rgb(0, 122, 149);
}

.compo-logic-1 Button{
  z-index: 20;
  position: relative;
  top: 708px;
  left: 200px;
  border: none;
  height: 60px;
  width: 420px;
}